body{
    background-color: #FFE485;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#strona{
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 40px;
}
#formularz1{
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#formularz2{
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#formularz3{
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#formularz4{
    padding-top: 15px;
    padding-bottom: 15px;
}
